In [163]:
pip install pandas numpy matplotlib seaborn scikit-learn xgboost

Requirement already satisfied: pandas in c:\users\rouhan\python_projects\delivery_logistics\.venv\lib\site-packages (2.3.3)
Requirement already satisfied: numpy in c:\users\rouhan\python_projects\delivery_logistics\.venv\lib\site-packages (2.3.5)
Requirement already satisfied: matplotlib in c:\users\rouhan\python_projects\delivery_logistics\.venv\lib\site-packages (3.10.7)
Requirement already satisfied: seaborn in c:\users\rouhan\python_projects\delivery_logistics\.venv\lib\site-packages (0.13.2)
Requirement already satisfied: scikit-learn in c:\users\rouhan\python_projects\delivery_logistics\.venv\lib\site-packages (1.7.2)
Requirement already satisfied: xgboost in c:\users\rouhan\python_projects\delivery_logistics\.venv\lib\site-packages (3.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rouhan\python_projects\delivery_logistics\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\rouhan\python_projects\delivery_logistics\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\rouhan\python_projects\delivery_logistics\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\rouhan\python_projects\delivery_logistics\.venv\lib\site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\rouhan\python_projects\delivery_logistics\.venv\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\rouhan\python_projects\delivery_logistics\.venv\lib\site-packages (from matplotlib) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\rouhan\python_projects\delivery_logistics\.venv\lib\site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: packaging>=20.0 in c:\users\rouhan\python_projects\delivery_logistics\.venv\lib\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\rouhan\python_projects\delivery_logistics\.venv\lib\site-packages (from matplotlib) (12.0.0)
Requirement already satisfied: pyparsing>=3 in c:\users\rouhan\python_projects\delivery_logistics\.venv\lib\site-packages (from matplotlib) (3.2.5)
Requirement already satisfied: scipy>=1.8.0 in c:\users\rouhan\python_projects\delivery_logistics\.venv\lib\site-packages (from scikit-learn) (1.16.3)
Requirement already satisfied: joblib>=1.2.0 in c:\users\rouhan\python_projects\delivery_logistics\.venv\lib\site-packages (from scikit-learn) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\rouhan\python_projects\delivery_logistics\.venv\lib\site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: six>=1.5 in c:\users\rouhan\python_projects\delivery_logistics\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [164]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder, StandardScaler

df = pd.read_csv("C:/Users/Rouhan/python_projects/Delivery_Logistics/Delivery_Logistics.csv")

In [165]:
df.head()

   delivery_id delivery_partner  ... delivery_rating delivery_cost
0       250.99        delhivery  ...               3     1632.7206
1       250.99       xpressbees  ...               5      640.1700
2       250.99        shadowfax  ...               4     1448.1700
3       250.99              dhl  ...               3     1486.5700
4       250.99              dhl  ...               4     1394.5600

[5 rows x 15 columns]

In [166]:
df.drop(columns = ['delivery_id','delivery_time_hours','expected_time_hours','delivery_rating','delayed'], axis=1, inplace=True)

In [167]:
ohe = OneHotEncoder(sparse_output=False)
onehotcolumns = ['vehicle_type', 'delivery_mode', 'weather_condition', 'region','delivery_status','package_type','delivery_partner']
ohe_data = ohe.fit_transform(df[onehotcolumns])
ohe_df = pd.DataFrame(ohe_data, columns=ohe.get_feature_names_out(onehotcolumns))
df = pd.concat([df.reset_index(drop=True), ohe_df.reset_index(drop=True)], axis=1)
df = df.drop(columns = onehotcolumns)
df.head()

   distance_km  ...  delivery_partner_xpressbees
0        297.0  ...                          0.0
1         89.6  ...                          1.0
2        273.5  ...                          0.0
3        269.7  ...                          0.0
4        256.7  ...                          0.0

[5 rows x 45 columns]

In [168]:

X = df.drop('delivery_cost', axis=1)
Y = df['delivery_cost']

In [169]:
from sklearn.model_selection import train_test_split
import xgboost as xgb
from xgboost import XGBRegressor
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)
p1 = Pipeline([
    ('scaler', StandardScaler()),
    ('xgb_regressor', XGBRegressor(objective ='reg:squarederror', n_estimators=100, learning_rate=0.1, max_depth=6, random_state=42)),
])
p1.fit(X_train, Y_train)
Y_pred = p1.predict(X_test)
mae = mean_absolute_error(Y_test, Y_pred)
mse = mean_squared_error(Y_test, Y_pred)
r2 = r2_score(Y_test, Y_pred)
print(f"Mean Absolute Error: {mae}")
print(f"Mean Squared Error: {mse}")
print(f"R^2 Score: {r2}")

Mean Absolute Error: 3.494022243696288
Mean Squared Error: 19.6287852903244
R^2 Score: 0.99989558509738

In [170]:
import pickle
pickle.dump(p1, open("delivery_cost_model.pkl", "wb"))
pickle_model = pickle.load(open("delivery_cost_model.pkl", "rb"))

In [171]:
pickle_model.predict(X_test.iloc[0:5])

array([1258.7664 ,  709.72125,  810.08154,  829.59875,  998.169  ],
      dtype=float32)